.prod-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex-equal>* {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.number-field {
    max-width: 60px;
    max-height: 30px;
    margin-right: 0px;
    padding-right: 0px;
}

.btn-col {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 8px;
    padding-right: 8px;
}

/* Image Overlay */

.image-wrap {
    position: relative;
    width: 100%;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.image-wrap:hover .image-overlay {
    opacity: 0.6;
}

.overlay-btn {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}