/*
* Based on: https://getbootstrap.com/docs/4.0/examples/pricing/
*/

/*
* General changes to the layout
*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.doc-header {
  max-width: 700px;
}

.doc-link {
  padding-right: 20px;
}

.card-deck .card {
  min-width: 220px;
}