.container {
    max-width: 1000px;
}

/*
 * Custom translucent site header
 */

.site-header {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

/* .dropdown-menu {
    background-color: rgba(46, 109, 134, 1);
} */

.dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.site-header a {
    color: #fff;
    transition: ease-in-out color .1s;
}

.site-header a:hover {
    color: #bebebe;
    text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.flex-equal>* {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

/* My changes */

#main-navbar {
    border-bottom: #ffffff 3px solid;
}

#main-header {
    background: url('../img/shop.jpg') no-repeat;
    min-height: 600px;
    background-size: cover;
    background-attachment: fixed;
}

#header-container {
    color: #ffffff;
}

#home-inner {
    padding-top: 80px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    min-height: 600px;
}

.dark-overlay-friends {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    min-height: 350px;
}

#container-1 {
    /* border-top: #ffffff 3px solid; */
    /* background-color: red; */
    color: #000000;
    background-color: rgba(140, 149, 152, 0.2);
}

#container-2 {
    background-color: rgba(140, 149, 152, 0.2);
    color: #ffffff;
}

#container-3 {
    background: url('../img/friends2_cropped.jpg') no-repeat;
    min-height: 350px;
    background-size: cover;
    /* background-attachment: fixed; */
    color: #ffffff;
}

#container-4 {
    background-color: rgba(140, 149, 152, 0.2);
    color: #ffffff;
}

#container-5 {
    background-color: rgba(95, 140, 23, 0.7);
    color: #ffffff;
    /* 95, 140, 23 */
    /* #87B23E; */
}

#container-6 {
    background-color: rgba(140, 149, 152, 0.2);
    color: #ffffff;
}

hr.accent-blue {
    border-top: 2px solid #006E89;
    max-width: 60%;
}

hr.accent-green {
    border-top: 3px solid rgba(95, 140, 23, 0.7);
    ;
    max-width: 60%;
}

hr.accent-white {
    border-top: 3px solid #ffffff;
    max-width: 60%;
}

hr.footer-line {
    max-width: 65%;
    margin-top: 50px;
    border-top: 2px solid rgba(95, 140, 23, 0.7);
    ;
}

.btn-outline-green {
    border-color: #87B23E;
    color: #87B23E;
}

.btn-outline-green:hover {
    background-color: #87B23E;
    border-color: #87B23E;
    color: #ffffff;
}

.btn-login {
    background-color: #87B23E;
    border-color: #87B23E;
    color: #ffffff;
}

.btn-login:hover {
    background-color: #7AB51D !important;
    border-color: #7AB51D !important;
    color: #ffffff;
}

h3.green {
    color: rgba(95, 140, 23, 0.7) !important;
}

h5.green {
    color: rgba(95, 140, 23, 0.7) !important;
}

.bg-light-dark {
    background-color: rgba(140, 149, 152, 0.2);
}

.page-center {
    text-align: center;
}

.page-container {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.btn-wwu-primary {
    background-color: rgba(46, 109, 134, 1);
    border-color: rgba(46, 109, 134, 1);
    color: #ffffff;
}

.btn-wwu-primary:hover {
    background-color: rgba(46, 109, 134, 0.7) !important;
    border-color: rgba(46, 109, 134, 0.7) !important;
    color: #ffffff;
}

.btn-wwu-cart {
    background-color: rgba(95, 140, 23, 0.7);
    border-color: rgba(95, 140, 23, 0.7);
    color: #ffffff;
}

.btn-wwu-cart:hover {
    background-color: rgba(95, 140, 23, 1) !important;
    border-color: rgba(95, 140, 23, 1);
    color: #ffffff;
}

.jumbotron {
    min-height: 550px;
    margin-bottom: 0px;
}

#desert-section {
    background: url('../img/empty_cart.jpg') no-repeat;
    min-height: 600px;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}

.dark-overlay2 {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    min-height: 600px;
}

.cart-center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.my-head {
    background-color: rgba(95, 140, 23, 0.7) !important;
    color: white;
}

.form-container-shop {
    width: 80%;
    background-color: #f1f1f1;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
}

.list-group-item.active {
    background-color: rgba(95, 140, 23, 0.7);
    border-color: rgba(95, 140, 23, 0.7);
}

#settings-row {
    width: auto;
}

.wwu-green-background {
    background-color: rgba(145, 174, 100, 1);
}

.wwu-blue-background {
    background-color: rgba(46, 109, 134, 1);
}

.setting-form {
    max-width: 50%;
}

#help-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.help-list-group {
    flex: none;
    padding-bottom: 20px;
}

.help-text-list-group {
    flex: none;
    width: 70%;
    margin-bottom: 30px;
}

.text-wwu-green {
    color: rgba(145, 174, 100, 1);
}

.comment-flex-container {
    width: 80% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    margin: auto;
}

.form-comment-box {
    margin-right: 50px;
    /* flex-grow: 1; */
}

.comment-box {
    margin-top: 50px;
    /* flex-grow: ; */
}